<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  <title>Document</title>
</head>
<body>
    <a href="{{ url_for('templates',filename='sindex.html') }}">Click me !</a>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script> 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <script>
        $.get("http://127.0.0.1:5000/?temp=16&humid=65&moist=75&light=80", function(data, status){
            data = JSON.parse(data);
            console.log(data);
        });
    </script>
</body>
</html>